
<div id="main">
  <button phx-click='inc_coin_change' value="BTCUSD">BTC</button>
  <button phx-click='inc_coin_change' value="ETHUSD">ETH</button>
  <button phx-click='inc_coin_change' value="RVNUSD">RVN</button>
  <section class="liveChart">
    <div>
      <canvas id="LiveChart" width="100%" height="100%"></canvas>
    </div>
  </section>
</div>